{% extends 'base.html' %}

{% block content %}

<!-- Main Section -->
    <section class="section-about padding-tb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cr-about"  data-aos-duration="2000" data-aos-delay="400">
                    <h3>Password reset complete</h3>
                    <br>
                    <p>Your password has been set. You may go ahead and log in now.</p>
                    <br>
{#                    <a href="{% url 'loginUser' %}">Login</a>#}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

 {% block footer %}

    {% endblock %}

{#{% block content %}#}
{##}
{##}
{#<!-- Main Section -->#}
{#<main class="formPage my-xl">#}
{#    <div class="content-box">#}
{#        <div class="formWrapper">#}
{#            <h3>Password reset complete</h3>#}
{##}
{#            <p>Your password has been set. You may go ahead and log in now.</p>#}
{#            <br>#}
{#            <a href="{% url 'login' %}">Login</a>#}
{#        </div>#}
{#    </div>#}
{#</main>#}
{##}
{#{% endblock content %}#}